  
<script>
function displayHint(hint) {
    document.getElementById("hint").innerHTML = hint ;
}
</script> 
<div class="center">
  <% arr = (session[:question][:ans]).split("").shuffle! %>
  <% hint = session[:question][:hint] %>
  <% arr1 = arr.join("") %>
 <h2> <div id="question"><%= arr1 %></div><br/></h2>
  <br/>
  <p id="hint">Click on Hint for Help!!!!!!</p>
</div>
 <button type="button" onclick="displayHint('<%= hint %>')" class= "btn btn-large btn-primary">Hint!!</button> <br/>