<h3>Your Final Score : <%= @s_user %></h3><br/>

<% @s=current_user.scorecard %>
<% if !@hscore.nil? %>
<h2> Yippie...... You have set your Highscore..... </h2>
<% end %>
<% if !@s.nil? %>
<% if @s[:fruit]>@s_user %>
<h3>Your Highscore is <%= @s[:fruit] %> </h3><br/>
<% end %>
<% end %>
<h3>Thanks For Playing!!!</h3> <br/>
<h4><%= link_to "Add Your Own Word here...",  newjumbled_path %></h4>
